
*{
    margin: 0;
    padding: 0;
}

*,*::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 62.6%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #333;
    background-color: #1f5370;
}


.calculator {
    background: linear-gradient(341deg,rgba(91, 161, 201, 1) 0%, rgb(152, 199, 227) 19%, rgb(238, 234, 234) 53%);
    margin: 10rem auto;
    border: 1px solid black;
    width: 28rem;
    border-radius:3rem;
    border: none;
    box-shadow: 1px 1px 20px #10232e;
    display: flex;
    flex-direction: column;
}


.btn-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.8fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem; 
    padding: 1.5rem;
}

.numBtn, 
.operatorBtn {
    padding: 1.5rem;
    
}

.btn-small {
    padding: .5rem 0;
}

.numBtn, 
.operatorBtn,
.btn-small {
    border: none;
    border-radius: 1.2rem;
    box-shadow: 1px 1px 5px #587b90;
    background-color: transparent;
    color: rgb(94, 123, 144);
    font-weight: 600;
    font-size: 1.7rem;
}

.numBtn:hover,
.operatorBtn:hover,
.btn-small:hover{
    cursor: pointer;
    background-color: rgb(13, 130, 208);
    color: #fff;
}

.equal {
    
    grid-row: span 2;
}

.equal,
.operatorBtn {
    background-color: rgb(13, 130, 208);
    color: #fff;
}

.dotBtn {
    background-color: transparent;
    color: rgb(94, 123, 144);
}

.equal:hover,
.operatorBtn:hover {
    background-color: rgb(8, 88, 141);
}

.deleteBtn {
    background-color: transparent;
    color: rgb(169, 21, 21);
}

.deleteBtn:hover {
    background-color: rgb(169, 21, 21);
}

.display {
    padding: 7rem; 
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;
}

.display-content{
    position: absolute;
    bottom: -1rem;
    right: 3rem;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: clamp(1.8rem, 4vw, 2.5rem);
}

.display-content h1 {
    font-weight: 500;
    color: rgb(64, 84, 99);
}
